:root {
  height: 100%;
  width: 100%;
  --background-color: #28153d;
  --light-text: rgb(231, 240, 238);
}

h1 {
  text-align: center;
  padding: 15px;
}

.main {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--background-color);
  color: var(--light-text);
}
