:root {
  --background-color: #28153d;
  --light-text: rgb(231, 240, 238);
}

.main {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--background-color);
  background-size: contain;
  color: var(--light-text);
}
