/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

nav {
  font-family: "Satisfy", cursive;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(211, 169, 53);
  transform: scale(1.3);
}
